<div class="d-flex flex-column flex-md-row height-full width-full">
    <div class="col-2 border-right p-3">
        <button type="button" class="btn btn-outline btn-sm btn-block" (click)="trySignOut()">Sign out</button>
    </div>
    <div class="col-10 bg-gray-light flex-1" style="overflow-y: scroll;">
        <div class="container-xl p-6">

            <div class="Box">
                <div class="Box-row">
                    <div class="subnav mb-0">
                        <nav class="subnav-links">
                            <a href="#url" class="subnav-item selected">All</a>
                            <a href="#url" class="subnav-item">Sentiment</a>
                            <a href="#url" class="subnav-item">Technicality</a>
                        </nav>
                        <div class="subnav-search float-right">
                            <input type="search" name="name" class="form-control subnav-search-input"/>
                            <svg width="16" height="16" viewBox="0 0 16 16" class="octicon octicon-search subnav-search-icon" aria-hidden="true">
                                <path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"/>
                            </svg>
                        </div>
                      </div>
                </div>
            </div>


            <div *ngFor="let tweet of tweets" class="Box mt-3">
                <div class="Box-row">                    
                    <div class="d-flex">
                        <div class="flex-auto">
                            <img class="avatar avatar-small mr-3" style="float: left;" src="{{tweet.user_profile_image}}" width="40" height="40"/>
                            <h5 class="mb-0">{{ tweet.user_name }}</h5>
                            <h6 class="text-gray mt-0">@{{ tweet.user_screen_name }}</h6>
                        </div>
                        <p class="text-gray">{{ tweet.created_at }}</p>
                    </div>
                    <p class="mt-3 mb-0">{{ tweet.text }}</p>
                </div>
            </div>

            <button *ngIf="tweets.length > 0" type="button" class="btn btn-outline btn-block mt-3" (click)="getTweets('rbc', maxId)">Load more</button>

        </div>
    </div>
</div>